{% extends 'base.html' %}
<!--{% load static %}  = do add from folder - assets -->
{% block content %}


<h1> About Me </h1><br/>
<p>This site was created by: STAS FRIDMAN<br/>
The purpose of the site was to get to know the DJANGO framework.<br/>
This site can be used to add stocks according to their symbol, see financial status, remove stocks in case we do not want to see them.<br/>
I added a cool widget to this site called: Advanced Real-Time Chart Widget, the credit goes to the site: https://in.tradingview.com/widget/<br/>
This allows us to actually sketch the graph and see financial data about the company we are looking for, just like real traders.<br/>
Another widget that is linked to all the pages on the site is called: Ticker Tape Widget.<br/>
It gives a Wall Street feel by showing stocks running on the screen (stocks I chose to show, of course the Tel Aviv 35 index appears there because I am from Israel).<br/>
This project was experimental and I may return to it and change some things in the future.<br/></p>


{% endblock %}
